<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>starConditions</key>
	<array>
		<dict>
			<key>code</key>
			<string>11_12</string>
			<key>name</key>
			<string>一星/快捷</string>
		</dict>
		<dict>
			<key>code</key>
			<string>21_22</string>
			<key>name</key>
			<string>二星/经济型</string>
		</dict>
		<dict>
			<key>code</key>
			<string>31_32</string>
			<key>name</key>
			<string>三星/舒适型</string>
		</dict>
		<dict>
			<key>code</key>
			<string>41_42</string>
			<key>name</key>
			<string>四星/高档型</string>
		</dict>
		<dict>
			<key>code</key>
			<string>51_52</string>
			<key>name</key>
			<string>五星/豪华型</string>
		</dict>
		<dict>
			<key>code</key>
			<string>99</string>
			<key>name</key>
			<string>其他</string>
		</dict>
	</array>
	<key>priceConditions</key>
	<array>
		<dict>
			<key>code</key>
			<string>0_200</string>
			<key>name</key>
			<string>0-200</string>
		</dict>
		<dict>
			<key>code</key>
			<string>200_300</string>
			<key>name</key>
			<string>200-300</string>
		</dict>
		<dict>
			<key>code</key>
			<string>300_400</string>
			<key>name</key>
			<string>300-400</string>
		</dict>
		<dict>
			<key>code</key>
			<string>400_500</string>
			<key>name</key>
			<string>400-500</string>
		</dict>
		<dict>
			<key>code</key>
			<string>500_600</string>
			<key>name</key>
			<string>500-600</string>
		</dict>
		<dict>
			<key>code</key>
			<string>600_</string>
			<key>name</key>
			<string>600以上</string>
		</dict>
	</array>
</dict>
</plist>
